.audius,
.web-app
	.button
		font-family: 'Nobile', sans-serif
		font-size: 1em
		padding: 0 $grid-space
		height: $touch-size-small
		border: 1px solid $color-aluminium
		color: $color-aluminium
		background: transparent
		text-transform: uppercase
		border-radius: $border-radius
		transition: all $transition-time
		outline: 0
		cursor: pointer
		&.btn--blue
			border-color: $color-pictonblue
			background: $color-pictonblue
			color: $color-white
	a.button
		display: flex
		align-items: center
		text-decoration: none

