@import '../sass/font'
@import '../sass/vars'
@import '../sass/card'
@import '../sass/color'
@import '../sass/input'
@import '../sass/icon'

#whatsapp-web-media-player
	font-family: 'Nobile', sans-serif
	font-size: 2vmin
	position: absolute
	top: 0
	right: 0
	display: flex
	flex-direction: column
	align-items: center
	z-index: 99999
	color: $color-tuna
	a
		color: $color-tuna

