
.smaller[data-v-b1502ef0]{font-size:.9rem
}
.play-list__export-list-wrapper[data-v-b1502ef0]{overflow:hidden;width:100%
}
.play-list__exports[data-v-b1502ef0]{list-style:none;padding:0
}
.play-list__exports li[data-v-b1502ef0]{display:flex;flex-direction:row;height:3.15rem
}
.play-list__exports li>div[data-v-b1502ef0]{cursor:pointer;display:flex;flex-direction:row
}
.play-list__exports li>div[data-v-b1502ef0]:hover{background:#eff1f7
}
.play-list__exports li>div.active[data-v-b1502ef0],.play-list__exports li>div.active[data-v-b1502ef0]:hover{background:#a1c616;color:#fff
}
.play-list__exports li [class^=wmp-icon][data-v-b1502ef0]{color:#707379
}
.play-list__exports li .wmp-icon-copy[data-v-b1502ef0]{font-size:.7rem
}
.play-list__export .button[data-v-b1502ef0]{justify-content:center
}
.play-list__export a.button[data-v-b1502ef0]{align-items:center;justify-content:center;position:relative
}
.play-list__export a.button span[data-v-b1502ef0]{left:.45rem;position:absolute
}
.play-list__export-copy-room.active[data-v-b1502ef0]{background:#a1c616;border-color:#a1c616
}
.play-list__export-room[data-v-b1502ef0]{padding-top:.9rem
}
.play-list__full.play-list__full[data-v-b1502ef0]{align-items:flex-start;flex:1;flex-direction:column;justify-content:center;overflow:hidden
}
.play-list__full.play-list__full div[data-v-b1502ef0],.play-list__full.play-list__full span[data-v-b1502ef0]{white-space:nowrap
}
.play-list__name[data-v-b1502ef0]{display:flex;justify-content:space-between;width:100%
}
.play-list__url[data-v-b1502ef0]{color:#2da7ef;font-size:.7rem
}
.play-list__date[data-v-b1502ef0]{font-size:.7rem
}
