
.smaller{font-size:.9rem
}
.play-list__export-list-wrapper{overflow:hidden;width:100%
}
.play-list__exports{list-style:none;padding:0
}
.play-list__exports li{display:flex;flex-direction:row;height:3.15rem
}
.play-list__exports li>div{cursor:pointer;display:flex;flex-direction:row
}
.play-list__exports li>div:hover{background:#eff1f7
}
.play-list__exports li>div.active,.play-list__exports li>div.active:hover{background:#a1c616;color:#fff
}
.play-list__exports li [class^=wmp-icon]{color:#707379
}
.play-list__exports li .wmp-icon-copy{font-size:.7rem
}
.play-list__export .button{justify-content:center
}
.play-list__export a.button{align-items:center;justify-content:center;position:relative
}
.play-list__export a.button span{left:.45rem;position:absolute
}
.play-list__export-copy-room .active{background:#a1c616;border-color:#a1c616
}
.play-list__export-room{display:flex;flex-direction:column;justify-content:center;padding-top:.9rem
}
.play-list__full.play-list__full{align-items:flex-start;flex:1;flex-direction:column;justify-content:center;overflow:hidden
}
.play-list__full.play-list__full div,.play-list__full.play-list__full span{white-space:nowrap
}
.play-list__name{display:flex;justify-content:space-between;width:100%
}
.play-list__url{color:#2da7ef;font-size:.7rem
}
.play-list__date{font-size:.7rem
}
