

.matrix-create input{margin-bottom:.45rem;width:100%
}
.matrix-create__group{align-items:flex-end;display:flex
}
.create-room__register{margin-bottom:3px
}

.matrix-create input{margin-bottom:.45rem;width:100%
}
.a-mpr h3{padding:.9rem .9rem 0
}
.a-mpr .modal__body{display:flex;flex-direction:column;max-height:80%;overflow:hidden;padding:0
}
.a-mpr__footer{align-items:center;display:flex;justify-content:space-between;min-height:4.05rem;padding:.9rem
}
.a-mpr__filteredPublicRooms{display:flex;flex:1;flex-wrap:wrap;overflow:hidden;padding:0 .9rem
}
.a-mpr__filteredPublicRooms>*{margin:0 .45rem .45rem 0
}
.a-mpr__search{background-color:#eff1f7;display:flex;justify-content:space-between;margin:0 .9rem;min-height:3.15rem
}
.a-mpr__search [class^=wmp-icon-]{cursor:pointer
}
.a-mpr__search input{background-color:#eff1f7;flex:1;height:3.15rem;padding:.45rem
}
.a-mpr__search-results{flex:1;overflow-y:auto
}
.a-mpr__search-results>div{align-items:center;cursor:pointer;height:4.05rem;overflow-x:hidden;padding-left:.9rem;position:relative
}
.a-mpr__search-results>div:hover{background:#eff1f7
}
.a-mpr__search-results>div:hover .a-mpr__menu{display:flex
}
.a-mpr__search-results>div.a-mpr--active{background-color:#2da7ef;color:#fff
}
.a-mpr__search-results>div.a-mpr--active .a-mpr__menu{display:none
}
.a-mpr__topic{padding-top:.45rem;text-overflow:ellipsis;white-space:nowrap
}
.a-mpr__title{display:flex;justify-content:space-between;padding:.9rem .9rem 0 0;white-space:nowrap
}
.a-mpr__title>:first-child{overflow:hidden;text-overflow:ellipsis
}
.a-mpr__menu{align-items:center;background-color:rgba(239,241,247,.75);display:none;height:4.05rem;padding:0 .9rem;position:absolute;right:0;top:0
}

.matrix-consent p{overflow:hidden;text-overflow:ellipsis
}
.matrix-consent a{cursor:pointer;text-decoration:underline
}

.matrix-room__tag-footer{display:flex
}
.matrix-room__tag-footer div{min-width:4em
}
.a-mrt:hover .play-list-manager__invited{display:flex
}
.play-list-manager__invited.play-list-manager__invited{justify-content:space-between;width:100%
}
.play-list-manager__invited.play-list-manager__invited>span{flex:1
}
.play-list-manager__invited.play-list-manager__invited>span:hover{background:#2da7ef;color:#fff
}

.matrix-room__menu{display:none
}
.matrix-room{color:#fff
}
.matrix-room .modal__body{color:#707379
}
.matrix-room__room-join-create,.matrix-room__room-list{position:relative
}
.matrix-room__room-join-create:before,.matrix-room__room-list:before{-webkit-transform:rotate(-53.4deg);-webkit-transform-origin:5.8rem 3.5rem;color:#e2e4e9;font-size:.8rem;pointer-events:none;position:absolute;transform:rotate(-53.4deg);transform-origin:5.8rem 3.5rem
}
.matrix-room__room-list:before{content:"ROOMS"
}
.matrix-room__room-join-create:before{content:"CREATE"
}
.matrix-room__logging-in{padding:0 .45rem;text-align:center;width:100%
}
.play-list-manager__room-suggestions{margin:.45rem;text-align:center
}
.play-list-manager__room-suggestions span{cursor:pointer;text-decoration:underline
}
.play-list-manager__room-suggestions>button.button{align-items:center;display:inline-flex;padding:0 .9rem
}
.play-list-manager__room-suggestions>button.button>span{margin-right:.9rem
}
.play-list-manager__show-hidden-rooms{cursor:pointer;font-size:.7rem;margin-left:.45rem;text-align:center;text-transform:uppercase
}
