
.matrix-chat-message{display:flex;position:relative
}
.matrix-chat-message.matrix-chat-message--author{justify-content:flex-end
}
.matrix-chat-message.matrix-chat-message--author .matrix-chat-message__header{display:none
}
.matrix-chat-message.matrix-chat-message--author .matrix-chat-message__container{border-top-left-radius:2px;border-top-right-radius:0;color:#eff1f7
}
.matrix-chat-message.matrix-chat-message--author .matrix-chat-message__container:before{border:0;border-right:.45rem solid transparent;border-top:.45rem solid #2da7ef;left:auto;right:-.45rem
}
.matrix-chat-message.matrix-chat-message--author .matrix-chat-message__container:hover:before{border-top-color:#2da7ef
}
.matrix-chat-message.matrix-chat-message--author .matrix-chat-message__body>div:first-child{padding-top:.45rem
}
.matrix-chat-message.matrix-chat-message--author .matrix-chat-message__body>div,.matrix-chat-message.matrix-chat-message--author .matrix-chat-message__footer,.matrix-chat-message.matrix-chat-message--author .matrix-chat-message__header{background:#2da7ef
}
.matrix-chat-message__delete{position:absolute;right:0;top:0
}
.matrix-chat-message__container{border-radius:2px;border-top-left-radius:0;font-size:.8em;margin:.45rem .9rem;max-width:25rem;position:relative
}
.matrix-chat-message__container:before{border-bottom:.45rem solid transparent;border-left:.45rem solid transparent;border-top:.45rem solid #eff1f7;content:" ";left:-.45rem;position:absolute;top:0
}
.matrix-chat-message__body>div,.matrix-chat-message__footer,.matrix-chat-message__header{background:#eff1f7;padding:0 .45rem
}
.matrix-chat-message__body{display:flex;flex-direction:column
}
.matrix-chat-message__body>div{overflow:hidden;text-overflow:ellipsis
}
.matrix-chat-message__body>div:not(:last-child):not(:first-child){padding:.9rem
}
.matrix-chat-message__body>div:first-child{padding-bottom:.45rem
}
.matrix-chat-message__body>div:last-child{padding-top:.45rem
}
.matrix-chat-message__body>div:not(:last-child){margin-bottom:.225rem
}
.matrix-chat-message__body>div:hover .matrix-chat-message__delete{display:block
}
.matrix-chat-message__footer{color:#a8adb7;display:flex;justify-content:flex-end
}
.matrix-chat-message__header{color:#a8adb7;font-weight:700;padding:.45rem
}

.matrix-chat{background-color:#e2e4e9;height:100%;padding-bottom:3.15rem;position:relative
}
.matrix-chat .play-list{overflow:auto
}
.matrix-chat ul{list-style:none;margin:0;padding:0
}
.matrix-chat .media-list__main{background-color:#fff
}
.matrix-chat__off{cursor:pointer;position:absolute;right:.675rem;top:0;z-index:1
}
.play-list__load-more{min-height:3.15rem
}
.matrix-chat__footer{align-items:center;background-color:#eff1f7;bottom:0;color:#a8adb7;display:flex;height:3.15rem;justify-content:space-between;left:0;padding-left:.9rem;position:absolute;width:100%
}
.matrix-chat__footer .wmp-icon-send{cursor:pointer
}
.matrix-chat__footer input{flex:1;font-size:.8rem;padding:0 .9rem
}
