
.settings.matrix-settings{overflow:hidden;position:relative
}
.settings.matrix-settings .matrix-settings__name,.settings.matrix-settings .row,.settings.matrix-settings h3,.settings.matrix-settings h4{padding:0 .45rem
}
.settings.matrix-settings .matrix-settings__name{font-size:1.5rem;height:4.05rem;margin-bottom:.45rem;width:100%
}
.settings.matrix-settings .spacer{height:.9rem
}
.matrix-settings__me{color:#2da7ef
}
.matrix-settings__hidden-icon{cursor:pointer;position:absolute;right:0;top:0
}
